<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <header class="header">
            <div class="cajaTitulo"><h1>¿Qué tiempo hace?</h1></div>
        </header>


       <section class="tableInfo">
                <h2 class="tituloBuscador">Buscador de ciudades</h2>
                <form [formGroup]="form" (ngSubmit)="submit(cityName)">
                    <div class="buscador">
                    <input formControlName="cityName" type="text" class="form-control" placeholder="Ejemplo: Madrid" #cityName>
                    <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">Consultar clima</button>
                    </div>
                    <h3 class="tituloResultados">Información sobre la ciudad: </h3>
                    <div class="resultados">
                        <div>
                            <p>Pais: {{weather.country}}</p>
                            <p>Ciudad: {{weather.name}}</p>
                            <p>Temperatura:{{weather.temp_c}}</p>
                            <p>Icono: {{weather.icon}}</p>
                        </div>
                    </div>
                </form>  
        </section>

    </body>
</html>
<!DOCTYPE html>
